# Advent of Code: Day 01

In [1]:
import functools, itertools
import requests
import pandas as pd, numpy as np

## --- Day 1: Report Repair ---

After saving Christmas five years in a row, you've decided to take a vacation at a nice resort on a tropical island. Surely, Christmas will go on without you.

The tropical island has its own currency and is entirely cash-only. The gold coins used there have a little picture of a starfish; the locals just call them stars. None of the currency exchanges seem to have heard of them, but somehow, you'll need to find fifty of these coins by the time you arrive so you can pay the deposit on your room.

To save your vacation, you need to get all fifty stars by December 25th.

Collect stars by solving puzzles. Two puzzles will be made available on each day in the Advent calendar; the second puzzle is unlocked when you complete the first. Each puzzle grants one star. Good luck!

Before you leave, the Elves in accounting just need you to fix your expense report (your puzzle input); apparently, something isn't quite adding up.

Specifically, they need you to find the two entries that sum to 2020 and then multiply those two numbers together.

For example, suppose your expense report contained the following:

1721
979
366
299
675
1456

In this list, the two entries that sum to 2020 are 1721 and 299. Multiplying them together produces 1721 * 299 = 514579, so the correct answer is 514579.

Of course, your expense report is much larger. Find the two entries that sum to 2020; what do you get if you multiply them together?

In [2]:
FILE_OF_THE_DAY = "./inputs/01.csv"

In [3]:
dt = pd.read_csv(FILE_OF_THE_DAY, names=["expenses"])
dt.describe()

          expenses
count   200.000000
mean   1595.290000
std     309.611275
min      74.000000
25%    1448.000000
50%    1658.500000
75%    1798.750000
max    2007.000000

In [4]:
def product(*values):
    if len(values) == 0:
        return 1
    if len(values) == 1:
        return values[0]
    return values[0] * product(*values[1:])

def report_2020(index, *values):
    if sum(values) == 2020:
        print(f"Found values at index {index}: {values}")
        print(f"    - Combined product is: {product(*values)}")
        return True
    return False

In [5]:
for i,x in enumerate(dt["expenses"]):
    for j,y in enumerate(dt["expenses"]):
        if report_2020([i,j], x, y):
            break
    else:
        continue
    break

Found values at index [26, 34]: (75, 1945)
    - Combined product is: 145875

## --- Part Two ---

The Elves in accounting are thankful for your help; one of them even offers you a starfish coin they had left over from a past vacation. They offer you a second one if you can find three numbers in your expense report that meet the same criteria.

Using the above example again, the three entries that sum to 2020 are 979, 366, and 675. Multiplying them together produces the answer, 241861950.

In your expense report, what is the product of the three entries that sum to 2020?

In [6]:
for i,x in enumerate(dt["expenses"]):
    for j,y in enumerate(dt["expenses"]):
        for k,z in enumerate(dt["expenses"]):
            if report_2020([i,j,k], x, y,z):
                break
        else:
            continue
        break
    else:
        continue
    break

Found values at index [73, 105, 168]: (74, 1052, 894)
    - Combined product is: 69596112

## -- Showerthought: generators are more efficient --

In [7]:
def smart_report(values, nb_count):
    if nb_count <= 0: raise ValueError
    if nb_count == 1:
        yield from (([i], [v], v, v) for i, v in enumerate(values))
        return
    for i, v in enumerate(values):
        yield from (
            ([i, *idx], [v, *vals], s + v, p * v) 
            for idx, vals, s, p in smart_report(values[i:], nb_count-1)
        )

In [8]:
with open(FILE_OF_THE_DAY) as f:
    values = [int(l) for l in f.readlines()]

for idx, vals, s, p in smart_report(values, 2):
    if s == 2020:
        print(f"=> {vals} = {p}")
        break

for idx, vals, s, p in smart_report(values, 3):
    if s == 2020:
        print(f"=> {vals} = {p}")
        break

=> [75, 1945] = 145875
=> [74, 1052, 894] = 69596112